/****************
 * Mate-Panel *
 ****************/

/* the panel bar itself */
.mate-panel-menu-bar {
    background-color: @mate_panel_bg;
    background-image: none;
    /* normal panel */
    color: @theme_fg_color;
    /* transparent panel */
/*    color: @theme_selected_fg_color; */
    text-shadow: none;
}

MatePanelAppletFrameDBus PanelSeparator,
PanelSeparator {
    border-width: 0;
    background-color: @theme_fg_color;
    text-shadow: none;
}

WnckTasklist .button {
    background-color: transparent;
    color: @theme_fg_color;
    border-color: transparent;
    border-style: solid;
    border-width: 0px;
    border-radius: 0px;
    text-shadow: none;
    -GtkWidget-window-dragging: true;
}

WnckTasklist .button:checked:hover,
WnckTasklist .button:checked,
WnckTasklist .button:active:hover,
WnckTasklist .button:active,
WnckTasklist .button:hover	{
    background-color: @mate_panel_button_selected;
    -GtkWidget-window-dragging: true;
}


