/****************
 * Mate-Panel *
 ****************/

/* the panel bar itself */
.mate-panel-menu-bar {
    background-color: @mate_panel_bg;
    background-image: none;
    /* normal panel */
    color: @theme_fg_color;
    /* transparent panel */
	/*    color: @theme_selected_fg_color; */
    text-shadow: none;
}

MatePanelAppletFrameDBus PanelSeparator,
PanelSeparator {
    border-width: 0;
    background-color: @theme_fg_color;
    text-shadow: none;
}

WnckTasklist .button {
    background-color: @mate_panel_button;
    color: @theme_fg_color;
	border: none;
    text-shadow: none;
    -GtkWidget-window-dragging: true;
}

WnckTasklist .button:checked:hover,
WnckTasklist .button:checked,
WnckTasklist .button:active:hover,
WnckTasklist .button:active,
WnckTasklist .button:hover,
WnckTasklist .button.flat:hover{
    background-color: @mate_panel_button_selected;
    -GtkWidget-window-dragging: true;
}


MatePanelApplet .button,
MatePanelApplet .button.flat {
    background-color: @mate_panel_button;
    border-color: @mate_panel_button;
	border-width: 1px;
    text-shadow: none;
    -GtkWidget-window-dragging: true;
}

MatePanelApplet .button:checked,
MatePanelApplet .button:active,
MatePanelApplet .button:checked:hover,
MatePanelApplet .button:active:hover,
MatePanelApplet .button.flat:checked,
MatePanelApplet .button.flat:active,
MatePanelApplet .button.flat:checked:hover,
MatePanelApplet .button.flat:active:hover {
    background-color: @mate_panel_button_selected;
    border: none;
    text-shadow: none;
    -GtkWidget-window-dragging: true;
}